/* .tag{
    color: blue;
}
#button{
    color: white;
    background-color: red;
} */

/* 2 Question */

h1 a{
    color: teal;
    font-size: 30px;
}
#Dislike a{
    color: red;
    font-weight: bold;
}